<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="navbar-area" id="stickymenu">
      <div class="main-nav">
        <div class="nav-container">
          <nav class="navbar">
            <a
              data-goto=".page__section_home"
              href="/public/index.html"
              class="navbar-brand"
            >
              <img src="img/brand-logo-grey.png" alt="logo" />
              <span class="brand-text">The Recipe Compass</span>
            </a>
            <div class="navbar-collapse">
              <div class="menu-icon">
                <span></span>
              </div>
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="index.html" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="index.html?content=recipes" class="nav-link"
                    >Recipes</a
                  >
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                  <a href="" class="nav-link">Contact</a>
                </li>
                <li class="nav-item">
                  <a href="index.html?content=newrecipe" class="nav-link" id="addRecipeBtn">
                    <i class="fas fa-plus"></i>
                    Add Recipe</a
                  >
                </li>
                <li class="nav-item">
                  <a href="index.html?content=login" class="nav-link">
                    <i class="fas fa-sign-in-alt"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a href="index.html?content=logout" class="nav-link" id="logoutBtn">
                    <i class="fa-solid fa-door-open"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <span id="displayUserName"></span>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </body>
</html>
